<aside id="sidenav-v3" class="sidebar sidebar--static@md js-sidebar" data-static-class="position-relative z-index-1 width-100% max-width-xxxxs">
    <div class="sidebar__panel flex flex-column">

      <!-- mobile nav header -->
      <header class="side-template-v3__mobile-header">
        <div class="container height-100% flex items-center justify-between">
          <a class="side-template-v3__logo" href="{{ base_url }}">
            <svg class="color-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38.922 35.38" preserveAspectRatio="xMinYMin meet">
              <title>Go to homepage</title>
              <path d="M80.124,79.241c.2-.253.395-.511.582-.772l3.54,2.161H89.2l-7.138-4.359a17.947,17.947,0,0,0,1.173-2.779,19.691,19.691,0,0,0,1.014-6.1,19.14,19.14,0,0,0-1.039-6.129,18.65,18.65,0,0,0-3.136-5.72,15.436,15.436,0,0,0-5.334-4.217A17.174,17.174,0,0,0,67.07,49.73a16.266,16.266,0,0,0-7.408,1.593,15.751,15.751,0,0,0-5.26,4.2,17.848,17.848,0,0,0-3.11,5.72,19.771,19.771,0,0,0-1.012,6.154,21.211,21.211,0,0,0,.959,6.276,17.259,17.259,0,0,0,3.009,5.718,14.608,14.608,0,0,0,5.334,4.125,18.337,18.337,0,0,0,7.867,1.545,16.235,16.235,0,0,0,7.433-1.593c.308-.156.605-.322.9-.494l3.5,2.138h4.955l-6.171-3.763A15.32,15.32,0,0,0,80.124,79.241ZM69.743,76.259H64.787l7.964,4.853c-.09.062-.177.126-.269.177A9.184,9.184,0,0,1,67.4,82.666,10.313,10.313,0,0,1,62.03,81.33a10.727,10.727,0,0,1-3.658-3.561,16.6,16.6,0,0,1-2.06-4.955,22.846,22.846,0,0,1-.658-5.426,21.375,21.375,0,0,1,.69-5.324,17.047,17.047,0,0,1,2.124-4.947,11.661,11.661,0,0,1,3.6-3.623,9.215,9.215,0,0,1,5.062-1.377,9.707,9.707,0,0,1,5.242,1.377,11.387,11.387,0,0,1,3.644,3.649A17.757,17.757,0,0,1,78.16,62.1a20.529,20.529,0,0,1,.708,5.309,21.238,21.238,0,0,1-.692,5.281c-.092.354-.195.708-.3,1.041L74.7,71.8H69.744l7.145,4.352a16.846,16.846,0,0,1-.839,1.5,12.606,12.606,0,0,1-1.274,1.687Z" transform="translate(-50.28 -49.73)" fill="currentColor" fill-rule="evenodd"/>
            </svg>
          </a>
    
          <button class="reset sidebar__close-btn js-sidebar__close-btn js-tab-focus" aria-controls="sidenav-v3">
            <svg class="icon icon--xs" viewBox="0 0 16 16">
              <title>Close panel</title>
              <g stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                <line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line>
                <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line>
              </g>
            </svg>
          </button>
        </div>
      </header>
      <!-- end mobile nav header -->

      <!-- sidebar main content -->
      <div class="position-relative z-index-1 padding-md padding-left-0@md padding-top-0@md flex-grow@md">

        <!-- desktop logo  -->
        <div class="side-template-v3__logo-wrapper padding-top-sm padding-bottom-xxxs padding-left-xxxs margin-bottom-lg display@md">
          <a class="side-template-v3__logo" href="{{ base_url }}">
            <svg class="color-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38.922 35.38" preserveAspectRatio="xMinYMin meet">
              <title>Go to homepage</title>
              <path d="M80.124,79.241c.2-.253.395-.511.582-.772l3.54,2.161H89.2l-7.138-4.359a17.947,17.947,0,0,0,1.173-2.779,19.691,19.691,0,0,0,1.014-6.1,19.14,19.14,0,0,0-1.039-6.129,18.65,18.65,0,0,0-3.136-5.72,15.436,15.436,0,0,0-5.334-4.217A17.174,17.174,0,0,0,67.07,49.73a16.266,16.266,0,0,0-7.408,1.593,15.751,15.751,0,0,0-5.26,4.2,17.848,17.848,0,0,0-3.11,5.72,19.771,19.771,0,0,0-1.012,6.154,21.211,21.211,0,0,0,.959,6.276,17.259,17.259,0,0,0,3.009,5.718,14.608,14.608,0,0,0,5.334,4.125,18.337,18.337,0,0,0,7.867,1.545,16.235,16.235,0,0,0,7.433-1.593c.308-.156.605-.322.9-.494l3.5,2.138h4.955l-6.171-3.763A15.32,15.32,0,0,0,80.124,79.241ZM69.743,76.259H64.787l7.964,4.853c-.09.062-.177.126-.269.177A9.184,9.184,0,0,1,67.4,82.666,10.313,10.313,0,0,1,62.03,81.33a10.727,10.727,0,0,1-3.658-3.561,16.6,16.6,0,0,1-2.06-4.955,22.846,22.846,0,0,1-.658-5.426,21.375,21.375,0,0,1,.69-5.324,17.047,17.047,0,0,1,2.124-4.947,11.661,11.661,0,0,1,3.6-3.623,9.215,9.215,0,0,1,5.062-1.377,9.707,9.707,0,0,1,5.242,1.377,11.387,11.387,0,0,1,3.644,3.649A17.757,17.757,0,0,1,78.16,62.1a20.529,20.529,0,0,1,.708,5.309,21.238,21.238,0,0,1-.692,5.281c-.092.354-.195.708-.3,1.041L74.7,71.8H69.744l7.145,4.352a16.846,16.846,0,0,1-.839,1.5,12.606,12.606,0,0,1-1.274,1.687Z" transform="translate(-50.28 -49.73)" fill="currentColor" fill-rule="evenodd"/>
            </svg>
          </a>
        </div>
        <!-- end desktop logo  -->
  
        {% if config.theme.layout.search %}
        <!-- mobile only search -->
        <div class="search-input search-input--icon-left margin-bottom-sm hide@md">
          <form action="search.html">
            <input class="search-input__input form-control" type="search" name="q" id="mkdocs-search-query" placeholder="Search..." aria-label="Search">
          
            <button class="search-input__btn">
              <svg class="icon" viewBox="0 0 20 20"><title>Submit</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="8" cy="8" r="6"/><line x1="12.242" y1="12.242" x2="18" y2="18"/></g></svg>
            </button>
          </form>
        </div>
        <!-- end mobile only search -->
        {% endif %}

        <!-- main nav -->
        <div class="exsidenav js-exsidenav">

          <!-- popular links -->
          {% if config.theme.layout.popular_links %}
          {% include "layout_2-popular_links.html" %}
          {% endif %}
          <!-- end popular links -->

          <!-- main links -->
          {% include "layout_2-main_links.html" %}
          <!-- end main links -->

        </div>
        <!-- end main nav -->

      </div>

      <!-- sidebar footer -->
      <!-- page meta (e.g. last update) -->
      {% if config.theme.layout.menu_footer %}
        {% include "layout_2-menu_footer.html" %}
      {% endif %}
    </div>
  </aside>